<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
    <div class="page-wrapper">
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar" style="background-color: white !important;">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <img src="/images/icon/logo.png" alt="RMS" />
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/dashboard/members">
                                <i class="fa fa-users"></i>Add Members</a>
                        </li>
                        <li>
                            <a href="/dashboard/tickets">
                                <i class="fa fa-ticket"></i>Tickets</a>
                        </li>
                        <li>
                            <a href="/dashboard/transactions">
                                <i class="fa fa-money"></i>My Transactions</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo" style="background-color: white !important;">
                <a href="/">
                    <img src="/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/dashboard/members">
                                <i class="fa fa-users"></i>Add Members</a>
                        </li>
                        <li>
                            <a href="/dashboard/tickets">
                                <i class="fa fa-ticket"></i>Tickets</a>
                        </li>
                        <li>
                            <a href="/dashboard/transactions">
                                <i class="fa fa-money"></i>My Transactions</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-container">
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <button class="hamburger hamburger--slider displayToggle" type="button">
                            <span class="hamburger-box" style="margin-top: 0.7rem;">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        <div class="header-wrap float-right">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ data.userData.userName }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ data.userData.userName }}</a>
                                                    </h5>
                                                    <span class="email">{{ data.userData.userEmail }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/dashboard/profile">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            {{{body}}}

            {{> scripts}}
        </div>
</body>

</html>